<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <title>the geek blog: Computers, Tech and More...</title>
  </head>

  <body class="bg-secondary">


    {{! Header }}
    <header>
      <nav>
        <ul class="nav justify-content-end">
                      <li class="nav-item">
              <button
                class="btn btn-link"
                onclick="location.href='/';"
              >Home</button>

              {{! <a class="nav-link" href="/">Home</a> }}
            </li>

          {{#if logged_in}}


            <li class="nav-item">

                            <button
                class="btn btn-link"
                onclick="location.href='/dashboard';"
              >Dashboard</button>
              {{!-- <a class="nav-link" href="/dashboard">Dashboard</a> --}}
            </li>
            <li class="nav-item">
              <button class="btn btn-link" id="logout">Logout</button>
            </li>

          {{else}}
            <li class="nav-item">
              <button class="btn btn-link" onclick="location.href='/login';">Log
                In</button>

              {{! <a class="nav-link" href="/login">Log In</a> }}
            </li>

          {{/if}}

        </ul>

      </nav>
    </header>

    <div class="jumbotron jumbotron-fluid mb-2">
      <div class="container">
        <h1 class="display-4 text-warning">the geek blog</h1>
        <p class="lead text-white">Computers, Tech and More...</p>
      </div>
    </div>

    <main>

      {{{body}}}
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

  </body>
  <script src="../js/logout.js"></script>
</html>