<div class="container">
  <div class="row">
    <div class="col">
<form class="row g-3">
  <div class="col-12">
    <label for="inputAddress" class="form-label">Blog Title</label>
    <input type="text" class="form-control" id="blog-title" placeholder="Blog Title">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Blog Text</label>
    <textarea class="form-control" id="blog-text" placeholder="Your text..."></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
    </div>
    <div class="col">